[submodule "json"]
	directoryPath = json
	url = https://github.com/nlohmann/json
[submodule "cxxopts"]
	directoryPath = cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "rang"]
	directoryPath = rang
	url = https://github.com/agauniyal/rang
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
