[submodule "rang"]
	directoryPath = rang
	url = https://github.com/agauniyal/rang
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "fmt"]
	path = 3rdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "json"]
	path = 3rdParty/json
	url = https://www.github.com/nlohmann/json
[submodule "rapidjson"]
	path = 3rdParty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "3rdParty/parallel-hashmap"]
	path = 3rdParty/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap
[submodule "3rdParty/rapidhash"]
	path = 3rdParty/rapidhash
	url = https://github.com/Nicoshev/rapidhash
[submodule "3rdParty/lz4"]
	path = 3rdParty/lz4
	url = https://github.com/lz4/lz4
